@font-face {
    font-family: "Vlated";
    src: url("/Font/Vlated/VlatedSlabSerif.ttf");
    font-style: Serif;
  }
  
  @font-face {
    font-family: "ModernType";
    src: url("/Font/ModenType/ModenType.otf");
    font-style: Regular;
  }

  @font-face {
    font-family: "Kurdis";
    src: url("/Font/Kurdis/Kurdis-Condensed.otf");
    font-style: Regular;
  }

  @font-face {
    font-family: "Kurdis";
    src: url("/Font/Kurdis/Kurdis-CondensedExtraBold.otf");
    font-style: ExtraBold;
  }
  
  @font-face {
    font-family: "Physis";
    src: url("/Font/Physis/RNSPhysis-Medium.otf");
    font-style: Medium;
  }

  @font-face {
    font-family: "Physis";
    src: url("/Font/Physis/RNSPhysis-Black.otf");
    font-style: Black;
  }
